<div>
    
    <div class="col-lg-12">
            <h1 class="page-header">AWS Dashboard</h1>
        </div>
  
  
  
  
    <div class="col-lg-12" >
        <stats number="2" comments="No.of Instances!" colour="primary" type="info"></stats>
	</div>
		

    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Instances
            </div>
		
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover">
                      <tr>
						<thead>
                            <tr>
                                <th>Instance Type</th>
                                <th>Instance ID</th>
								<th> Region </th>
                            </tr>
                        </thead>
						
						<tbody ng-repeat="res in loop" >
							<tr ng-repeat="inst in res.Instances">
								
								<td>{{ inst.InstanceType }}</td>
								<td>{{ inst.InstanceId }}</td>
								<td>{{ inst.Placement.AvailabilityZone}} </td>
							
							</tr>
						 </tbody>
				         
					 </tr>
                    </table>
                </div>
                <!-- /.table-responsive -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>	
    

    <div ng-controller="lBCtrl">

    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Load Balancer Details
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover">
                      <tr>
						<thead>
                            <tr>
                                <th>Load Balancer Name </th>
								<th>No of HTTP Requests </th>
                                
                            </tr>
                        </thead>
						
						<tbody >
						   <td> Load Balancer </td>
						   <td> {{ count }} </td>
						 </tbody>
				         
					 </tr>
                    </table>
                </div>
                <!-- /.table-responsive -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>	
    <!-- /.row -->
</div>

</div>
 
